﻿/**
 * Framework variables
 *
 * Framework vars
 *
 * @section     Framework
 * @author      ldeleuran
*/
$fontStackSerif: arnhemlf, Georgia, Times, serif;
$fontStackSansSerif: theinhardt, Helvetica Neue, Helvetica, Arial, sans-serif;
$colorApplicationBackground:#eeeeee;
$colorPageBackground:#ffffff;
$colorText:#333333;
$colorBrand:#26689b;
$colorWhite:#ffffff;
$colorBlack:#000000;