/**
* Article element
* 
* Article
*
* @section    Module
* @author     ldeleuran
*/
.article {
	overflow:hidden;
	margin-bottom:40px;

	.article-front {
		position:relative;
		height:540px;
		background:$colorBlack;
		color:$colorWhite;

		img {
			max-width:none;
			width:100%;
			height:auto;
		}
		.article-title {
			position:absolute;
			left:10.7421875%;
			right:10.7421875%;
			top:150px;
		}
		.article-title-alpha {
			font-size:3.8888888889em;
			font-weight:bold;
			border-bottom:0.06em solid $colorWhite;
			line-height:0.9em;
			margin-bottom:0.1em;
			font-family:$fontStackSansSerif;
		}
		.article-title-beta {
			font-size:1.8333333333em;
			line-height:1.1818181818em;
			font-family:theinhardt_light, $fontStackSansSerif;
		}
		.article-title-beta ol,
		.article-title-beta ul,
		.article-title-beta li {
			padding:0;
			margin:0;
			list-style:none;
			position:relative;
		}
		.article-title-beta li:before {
			content:"·";
			display:block;
			width:0.5em;
			margin-left:-0.5em;
			float:left;
		}
	}
	.article-content {

		.article-intro {
			font-size:1.6666666667em;
			line-height:1.2em;//1.0666666667em;
			font-family:$fontStackSerif;
			font-weight:bold;
		}
		.article-subheader {
			margin:0;
			font-weight:normal;
			text-transform:uppercase;
			font-size:1em;
		}
		.article-figure {
			margin:0 0 1.2285714286em;
			@include transition(opacity 0.5s ease-out);	
		}
		.article-figure.is-hidden {
			opacity:0;
		} 
		.article-figure img,
		.article-figure video {
			width:100%;
			height:auto;
			display:block;
		}
		p,
		blockquote, 
		ul {
			margin:0 0 1.2285714286em;
			padding:0;
		}
		blockquote {
			margin:0 20px 1.2285714286em;
		}
	}
}