﻿/**
 * Common baseline set after normalize styles
 * 
 * Baseline
 *
 * @section    Layout
 * @author     ldeleuran
*/
html {
	overflow-y:scroll;
	font-size:62.5%;
}
body {
	font-family: $fontStackSansSerif;
	font-size:18px;
	line-height:1.2285714286;
	background:$colorApplicationBackground;
	color:$colorText;
}
.group:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
b, strong {
	font-weight:bold;
}
i, em {
	font-style:italic;
}
a {
	color:$colorBrand;
	text-decoration:none;
}
mark a {
	color:white;
	background:$colorBrand;
}
a:hover {
	text-decoration:underline;
}
a:active {
	color:$colorBlack;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
abbr {
	border-bottom:1px dotted $colorText;
	cursor:help;
}
img, embed, object, video {
	max-width: 100%;
}
::-moz-selection { background: $colorBrand; color: $colorWhite; text-shadow: none; }
::selection { background: $colorBrand; color: $colorWhite; text-shadow: none; }
