/**
 * Editorial themes - normally added on a high-level element like .page og body.
 * 
 * Editorial
 *
 * @section    Theme
 * @author     ldeleuran
*/
.theme-quantifiedself {
	$colorTheme:#65d9e6;
	&,
	.page,
	.article .article-front {
		background:$colorBlack;
		color:$colorWhite;
	}
	.page-type,
	.page-title,
	.article-title-alpha,
	.article-subheader,
	.article-intro {
		color:$colorTheme;
	}
	.article .article-title-alpha {
		border-color:$colorTheme;

		width:320px;
		height:67px;

		border:none;

		background:url(../media/images/content/articles/placeholder-title.png);
		background-size:320px auto;

		@include hide-text;
	}
	.article-intro em {
		color:$colorWhite;
		font-style:normal;
	}
}
.theme-artificiallove {
	$colorTheme:#f10018;
	.article .article-front {
		background:$colorWhite;
	} 
	.article-front .grid {
		position:absolute;
		top:0;
		left:0;
		right:0;
	}
	.grid-col {
		position:relative;
	}
	.grid .artificiallove-video {
		position:absolute;
		left:-24px;
		right:0;

		@include transition(top 0.75s cubic-bezier(0.770, 0.000, 0.175, 1.000));
	}
	.grid .artificiallove-video.is-second {
		position:absolute;
		left:6.8493150685%;
		right:-24px;
	}
	.article-front {
		height:auto;
	}
	.article .article-title {
		z-index:10;
		color:$colorBlack;
		text-align:center;
		margin:10px 20% 0;
		position:relative;
		top:auto;
		left:auto;
		right:auto;
		z-index:40;
	}
	.article .article-title-alpha {
		font-weight:normal;
		border:none;
		color:$colorTheme;
		font-size:5em;
		line-height:1.1em;
		font-style:italic;
		letter-spacing:0.03em;
		font-family:$fontStackSerif;
	}
	.article .article-title-alpha em {
		font-style:normal;
		color:$colorBlack;
		text-transform:uppercase;
	}
	.article .article-title-beta {
		font-family:$fontStackSerif;
		font-weight:bold;
	} 
	.article .article-title-beta em {
		font-style:normal;
		color:$colorTheme;
	}
	.article .article-subheader {
		font-style:italic;
		color:$colorTheme;
	}
}
.theme-imaginetheregistration {
	$colorTheme:#3ce29c;
	&,
	.page,
	.article .article-front {
		background:$colorBlack;
		color:$colorWhite;
	}
	.article .article-title {
		@include hide-text;
	}
	.article .article-title-alpha {
		border:none;
	}
	.article .article-front {
		background:$colorBlack url(../media/images/content/articles/imaginetheregistration-title.png) center top no-repeat;
		background-size: contain;
	}
	.article-subheader {
		color:$colorTheme;
	}
	.imaginetheregistration-illustration {
		position:relative;
	}
	.imaginetheregistration-illustration img.is-fixed {
		position:fixed;
	}
}
.theme-whattocounton {
	$colorTheme:#ff5d00;
	.article .article-intro em,, 
	.article a,
	.article .article-subheader {
		color:$colorTheme;
	}
	.article .article-intro em{
		font-style:normal;
		color:$colorTheme;
	}
	.article .article-title {
		@include hide-text;
	}
	.article .article-title-alpha {
		border:none;
	}
	.article .article-front {
		background:transparent url(../media/images/content/articles/whattocounton-title.png) center top no-repeat;
		background-size: contain;
	}
	.article .whattocounton-figure,
	.article .whattocounton-quote {
		display:block;
		padding:0;
		margin:40px 0;
	}
	.article .whattocounton-quote {
		display:none;
		padding:24px;
		background:rgba(0,0,0,0.1);
		font-size:1em;
		font-style:italic;
		font-family:$fontStackSerif;
		color:$colorTheme;
		text-align:center;

		@include box-shadow(inset 0 0 15px rgba(0,0,0,0.3));
	}
	.article .whattocounton-quote cite {
		display:block;
		font-size:0.75em;
		color:$colorBlack;
		font-style:normal;
		text-transform:uppercase;
		margin-top:0.75em;
	}
}