/**
 * Fonts
 * 
 * Fonts
 *
 * @section		Layout
 * @author		 ldeleuran
*/
@font-face {
	font-family: 'theinhardt';
	src: url('../media/fonts/theinhardt/theinhardtbold-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtbold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtbold-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtbold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}	 
@font-face {
	font-family: 'theinhardt';
	src: url('../media/fonts/theinhardt/theinhardtboldit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtboldit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtboldit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtboldit-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt_black';
	src: url('../media/fonts/theinhardt/theinhardtblack-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtblack-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtblack-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtblack-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_black';
	src: url('../media/fonts/theinhardt/theinhardtblackit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtblackit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtblackit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtblackit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt_hairline';
	src: url('../media/fonts/theinhardt/theinhardthairline-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardthairline-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardthairline-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardthairline-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_hairline';
	src: url('../media/fonts/theinhardt/theinhardthairlineit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardthairlineit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardthairlineit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardthairlineit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt_heavy';
	src: url('../media/fonts/theinhardt/theinhardtheavy-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtheavy-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtheavy-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtheavy-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_heavy';
	src: url('../media/fonts/theinhardt/theinhardtheavyit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtheavyit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtheavyit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtheavyit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt';
	src: url('../media/fonts/theinhardt/theinhardtregit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtregit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtregit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtregit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt_light';
	src: url('../media/fonts/theinhardt/theinhardtlight_alt-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtlight_alt-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtlight_alt-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtlight_alt-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_light';
	src: url('../media/fonts/theinhardt/theinhardtlightit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtlightit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtlightit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtlightit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt_light';
	src: url('../media/fonts/theinhardt/theinhardtmed-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtmed-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtmed-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtmed-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_light';
	src: url('../media/fonts/theinhardt/theinhardtmedit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtmedit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtmedit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtmedit-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt';
	src: url('../media/fonts/theinhardt/theinhardtreg-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtreg-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtreg-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtreg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_thin';
	src: url('../media/fonts/theinhardt/theinhardtthin-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtthin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtthin-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtthin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_thin';
	src: url('../media/fonts/theinhardt/theinhardtthinit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtthinit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtthinit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtthinit-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'theinhardt_hairline';
	src: url('../media/fonts/theinhardt/theinhardtultralight-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtultralight-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtultralight-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtultralight-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'theinhardt_hairline';
	src: url('../media/fonts/theinhardt/theinhardtultralightit-webfont.eot');
	src: url('../media/fonts/theinhardt/theinhardtultralightit-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/theinhardt/theinhardtultralightit-webfont.woff') format('woff'),
	url('../media/fonts/theinhardt/theinhardtultralightit-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'arnhemlf_black';
	src: url('../media/fonts/arnhemlf/arnhelfbla-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfbla-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfbla-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfbla-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arnhemlf_black';
	src: url('../media/fonts/arnhemlf/arnhelfblaita-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfblaita-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfblaita-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfblaita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'arnhemlf_blond';
	src: url('../media/fonts/arnhemlf/arnhelfblo-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfblo-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfblo-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfblo-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arnhemlf_blond';
	src: url('../media/fonts/arnhemlf/arnhelfbloita-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfbloita-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfbloita-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfbloita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'arnhemlf';
	src: url('../media/fonts/arnhemlf/arnhelfbol-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfbol-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfbol-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfbol-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'arnhemlf';
	src: url('../media/fonts/arnhemlf/arnhelfbolita-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfbolita-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfbolita-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfbolita-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'arnhemlf';
	src: url('../media/fonts/arnhemlf/arnhelfnor-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfnor-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfnor-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfnor-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arnhemlf';
	src: url('../media/fonts/arnhemlf/arnhelfnorita-webfont.eot');
	src: url('../media/fonts/arnhemlf/arnhelfnorita-webfont.eot?#iefix') format('embedded-opentype'),
	url('../media/fonts/arnhemlf/arnhelfnorita-webfont.woff') format('woff'),
	url('../media/fonts/arnhemlf/arnhelfnorita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}