/**
 * Layout grid module, using old-fashioned fluid grid techniques
 * 
 * Layout grid
 *
 * @section    Module
 * @author     ldeleuran
*/
$baseWidth:976;
$columnWidth:146;
$marginWidth:20;
.grid {
	padding:24px;
	//width:#{$baseWidth}px;

	@include clearfix-after;

	.grid-col {
		width:($columnWidth*1/$baseWidth)*100%;
		padding-left:($marginWidth/$baseWidth)*100%;
		float:left;
	}
	.grid-col.is-firstcol {
		clear:left;
		padding-left:0;
	}
	@for $i from 1 through 6 {
		.grid-col.is-multicol-#{$i} {
			width:( ( $columnWidth * $i + $marginWidth * ( $i - 1 ) ) / $baseWidth ) * 100%;
		}
	}
	.grid-col .grid-child-offset {
		position:relative;
	}
	@for $t from 1 through 6 {
		.grid-col.is-multicol-#{$t} .grid-child-offset.is-offsetright-1 {
			left:( ( $columnWidth + $marginWidth ) / ( $columnWidth * $t + $marginWidth * ( $t - 1 ) ) ) * 100%;
		}
	}
}
