/**
 * Image series element
 * 
 * Image series
 *
 * @section    Module
 * @author     ldeleuran
*/
.imageseries {
	display:block;
	overflow:hidden;
	position:relative;

	margin:0 auto;
	width:84.375%;
	min-height:30px;

	.imageseries-intro {
		padding:250px 0;
		text-align:center;
	}
	.imageseries-intro-title,
	.imageseries-intro-author {
		font-size:20px;
		line-height:1.25em;
		padding:0;
		margin:0;
		font-family:$fontStackSansSerif;
		font-weight:bold;
	}
	.imageseries-intro-title {
		font-style:italic;
	}
	.imageseries-header,
	.imageseries-footer {
		height:77px;
	}
	.imageseries-content {
		position:relative;
		background:$colorApplicationBackground;
		overflow:hidden;
	}
	.imageseries-image,
	.imageseries-canvas {
		display:block;
	}
	.imageseries-image {
		min-width:100%;
		height:auto;
		@include transition(all 0.5s ease-out);
	}
	&.has-description .imageseries-image {
		opacity:0.5;
	}
	.imageseries-itemtitle,
	.imageseries-itemlink {
		padding-top:1em;
		line-height:1em;
		font-size:15px;
		margin:0;
		color:$colorText;
	}
	.imageseries-itemtitle {
		float:left;
	}
	.imageseries-itemlink {
		float:right;
		text-decoration:none;
		border-bottom:1px solid $colorText;
	}
	.imageseries-itemlink:active {
		color:$colorBrand;
		border-color:$colorBrand;
	}
	.imageseries-description {
		display:block;
		width:454px;
		overflow:auto;
		font-size:15px;
		line-height:1.2em;
		padding:15px;
		background:$colorWhite;
		position:absolute;
		top:30px;
		left:20%;
		margin-left:-242px;
		opacity:0;
		@include transition(#{opacity 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955), left 0s ease-out 0.5s});
	}
	.imageseries-description.is-active {
		opacity:1;
		left:50%;
		@include transition(#{opacity 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955)});
	}
	.imageseries-description-author,
	.imageseries-description-title {
		display:block;
		margin:0;
		padding:0;
		font-weight:normal;
		font-size:1em;
	}
	.imageseries-description-author {
		font-weight:bold;
	}
	.imageseries-description p {
		margin-top:1.2em;
	}
	.imageseries-description-close,
	.imageseries-description-authorlink {
		display:block;
		color:$colorText;
		font-family:$fontStackSerif;
		text-transform:uppercase;
		font-size:10px;
		line-height:10px;
	}
	.imageseries-description-close {
		position:absolute;
		top:10px;
		right:10px;
		width:20px;
		height:20px;
		@include hide-text;
		background:url(../media/images/ui/imageseries/icon-close.png) center center no-repeat;
		background-size:10px 10px;
	}
}