/**
 * Page container
 * 
 * Page container
 *
 * @section    Module
 * @author     ldeleuran
*/
.page {
	margin:0 auto;
	max-width:1100px;
	min-width:740px;
	//width:1024px;
	background:$colorPageBackground;
	min-height:700px;
	overflow:hidden;

	& + .page {
		margin:1.2285714286em auto 0;
	}

	.page-hr {
		display:block;
		clear:both;
		padding:1.2285714286rem 0;
		background:$colorApplicationBackground;
		border:none;
	}
	.page-header {
		overflow:hidden;
		height:77px;
		position:relative;
	}
	.page-type,
	.page-byline {
		position:absolute;
		font-family:$fontStackSerif;
		font-size:10px;
		line-height:1;
		padding-top:2em;
		text-transform:uppercase;
	}
	.page-type {
		left:18.5546875%;
	}
	.page-byline {
		float:right;
		left:66.9921875%;
	}
	.page-title,
	.page-author {
		display:block;
	}
}