/**
 * Main project stylesheet combiner
 * 
 * Project name
 *
 * @section		1.0			Baseline
 * @author						ldeleuran
 * @version						1.0
 * @since						1.0
*/
/* Include framework and normalization */
/**
 * Mixins for browser alignment
 * 
 * Vertic base
 *
 * @section	    Framework
 * @author      ldeleuran
*/
/**
 * Common baseline set after reset styles
 * 
 * Baseline
 *
 * @section    Framework
 * @author     echristensen
*/
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
	 HTML5 display definitions
	 ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
	 Base
	 ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 10px;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
	 Links
	 ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
	 Typography
	 ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
	 Lists
	 ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
	 Embedded content
	 ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
	 Figures
	 ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
	 Forms
	 ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
			Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
	 Tables
	 ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
	 Selections
	 ========================================================================== */
/*
 * Add a default selection styling
 */
::-moz-selection {
  color: #fff;
  text-shadow: none; }

::selection {
  color: #fff;
  text-shadow: none; }

/* =============================================================================
	 Hacks
	 ========================================================================== */
/*
 * Make grouping possible
 */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/**
 * Framework variables
 *
 * Framework vars
 *
 * @section     Framework
 * @author      ldeleuran
*/
/* Include modules */
/**
 * Fonts
 * 
 * Fonts
 *
 * @section		Layout
 * @author		 ldeleuran
*/
@font-face {
  font-family: 'theinhardt';
  src: url("../media/fonts/theinhardt/theinhardtbold-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtbold-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtbold-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtbold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt';
  src: url("../media/fonts/theinhardt/theinhardtboldit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtboldit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtboldit-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt_black';
  src: url("../media/fonts/theinhardt/theinhardtblack-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtblack-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtblack-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtblack-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_black';
  src: url("../media/fonts/theinhardt/theinhardtblackit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtblackit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtblackit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtblackit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt_hairline';
  src: url("../media/fonts/theinhardt/theinhardthairline-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardthairline-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardthairline-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardthairline-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_hairline';
  src: url("../media/fonts/theinhardt/theinhardthairlineit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardthairlineit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardthairlineit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardthairlineit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt_heavy';
  src: url("../media/fonts/theinhardt/theinhardtheavy-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtheavy-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtheavy-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtheavy-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_heavy';
  src: url("../media/fonts/theinhardt/theinhardtheavyit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtheavyit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtheavyit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtheavyit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt';
  src: url("../media/fonts/theinhardt/theinhardtregit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtregit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtregit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtregit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt_light';
  src: url("../media/fonts/theinhardt/theinhardtlight_alt-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtlight_alt-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtlight_alt-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtlight_alt-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_light';
  src: url("../media/fonts/theinhardt/theinhardtlightit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtlightit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtlightit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtlightit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt_light';
  src: url("../media/fonts/theinhardt/theinhardtmed-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtmed-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtmed-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtmed-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_light';
  src: url("../media/fonts/theinhardt/theinhardtmedit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtmedit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtmedit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtmedit-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt';
  src: url("../media/fonts/theinhardt/theinhardtreg-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtreg-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtreg-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtreg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_thin';
  src: url("../media/fonts/theinhardt/theinhardtthin-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtthin-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtthin-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtthin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_thin';
  src: url("../media/fonts/theinhardt/theinhardtthinit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtthinit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtthinit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtthinit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'theinhardt_hairline';
  src: url("../media/fonts/theinhardt/theinhardtultralight-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtultralight-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtultralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardt_hairline';
  src: url("../media/fonts/theinhardt/theinhardtultralightit-webfont.eot");
  src: url("../media/fonts/theinhardt/theinhardtultralightit-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/theinhardt/theinhardtultralightit-webfont.woff") format("woff"), url("../media/fonts/theinhardt/theinhardtultralightit-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'arnhemlf_black';
  src: url("../media/fonts/arnhemlf/arnhelfbla-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfbla-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfbla-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfbla-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arnhemlf_black';
  src: url("../media/fonts/arnhemlf/arnhelfblaita-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfblaita-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfblaita-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfblaita-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'arnhemlf_blond';
  src: url("../media/fonts/arnhemlf/arnhelfblo-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfblo-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfblo-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfblo-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arnhemlf_blond';
  src: url("../media/fonts/arnhemlf/arnhelfbloita-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfbloita-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfbloita-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfbloita-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'arnhemlf';
  src: url("../media/fonts/arnhemlf/arnhelfbol-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfbol-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfbol-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfbol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'arnhemlf';
  src: url("../media/fonts/arnhemlf/arnhelfbolita-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfbolita-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfbolita-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfbolita-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'arnhemlf';
  src: url("../media/fonts/arnhemlf/arnhelfnor-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfnor-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfnor-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfnor-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'arnhemlf';
  src: url("../media/fonts/arnhemlf/arnhelfnorita-webfont.eot");
  src: url("../media/fonts/arnhemlf/arnhelfnorita-webfont.eot?#iefix") format("embedded-opentype"), url("../media/fonts/arnhemlf/arnhelfnorita-webfont.woff") format("woff"), url("../media/fonts/arnhemlf/arnhelfnorita-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

/**
 * Common baseline set after normalize styles
 * 
 * Baseline
 *
 * @section    Layout
 * @author     ldeleuran
*/
html {
  overflow-y: scroll;
  font-size: 62.5%; }

body {
  font-family: theinhardt, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2285714286;
  background: #eeeeee;
  color: #333333; }

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

a {
  color: #26689b;
  text-decoration: none; }

mark a {
  color: white;
  background: #26689b; }

a:hover {
  text-decoration: underline; }

a:active {
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

abbr {
  border-bottom: 1px dotted #333333;
  cursor: help; }

img, embed, object, video {
  max-width: 100%; }

::-moz-selection {
  background: #26689b;
  color: white;
  text-shadow: none; }

::selection {
  background: #26689b;
  color: white;
  text-shadow: none; }

/**
 * Page container
 * 
 * Page container
 *
 * @section    Module
 * @author     ldeleuran
*/
.page {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 740px;
  background: white;
  min-height: 700px;
  overflow: hidden; }
  .page + .page {
    margin: 1.2285714286em auto 0; }
  .page .page-hr {
    display: block;
    clear: both;
    padding: 1.2285714286rem 0;
    background: #eeeeee;
    border: none; }
  .page .page-header {
    overflow: hidden;
    height: 77px;
    position: relative; }
  .page .page-type,
  .page .page-byline {
    position: absolute;
    font-family: arnhemlf, Georgia, Times, serif;
    font-size: 10px;
    line-height: 1;
    padding-top: 2em;
    text-transform: uppercase; }
  .page .page-type {
    left: 18.5546875%; }
  .page .page-byline {
    float: right;
    left: 66.9921875%; }
  .page .page-title,
  .page .page-author {
    display: block; }

/**
 * Layout grid module, using old-fashioned fluid grid techniques
 * 
 * Layout grid
 *
 * @section    Module
 * @author     ldeleuran
*/
.grid {
  padding: 24px; }
  .grid:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ie7 .grid {
    min-height: 1px; }
  .ie6 .grid {
    height: 1%; }
  .grid .grid-col {
    width: 14.95902%;
    padding-left: 2.04918%;
    float: left; }
  .grid .grid-col.is-firstcol {
    clear: left;
    padding-left: 0; }
  .grid .grid-col.is-multicol-1 {
    width: 14.95902%; }
  .grid .grid-col.is-multicol-2 {
    width: 31.96721%; }
  .grid .grid-col.is-multicol-3 {
    width: 48.97541%; }
  .grid .grid-col.is-multicol-4 {
    width: 65.98361%; }
  .grid .grid-col.is-multicol-5 {
    width: 82.9918%; }
  .grid .grid-col.is-multicol-6 {
    width: 100%; }
  .grid .grid-col .grid-child-offset {
    position: relative; }
  .grid .grid-col.is-multicol-1 .grid-child-offset.is-offsetright-1 {
    left: 113.69863%; }
  .grid .grid-col.is-multicol-2 .grid-child-offset.is-offsetright-1 {
    left: 53.20513%; }
  .grid .grid-col.is-multicol-3 .grid-child-offset.is-offsetright-1 {
    left: 34.72803%; }
  .grid .grid-col.is-multicol-4 .grid-child-offset.is-offsetright-1 {
    left: 25.7764%; }
  .grid .grid-col.is-multicol-5 .grid-child-offset.is-offsetright-1 {
    left: 20.49383%; }
  .grid .grid-col.is-multicol-6 .grid-child-offset.is-offsetright-1 {
    left: 17.0082%; }

/**
 * Image series element
 * 
 * Image series
 *
 * @section    Module
 * @author     ldeleuran
*/
.imageseries {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 84.375%;
  min-height: 30px; }
  .imageseries .imageseries-intro {
    padding: 250px 0;
    text-align: center; }
  .imageseries .imageseries-intro-title,
  .imageseries .imageseries-intro-author {
    font-size: 20px;
    line-height: 1.25em;
    padding: 0;
    margin: 0;
    font-family: theinhardt, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold; }
  .imageseries .imageseries-intro-title {
    font-style: italic; }
  .imageseries .imageseries-header,
  .imageseries .imageseries-footer {
    height: 77px; }
  .imageseries .imageseries-content {
    position: relative;
    background: #eeeeee;
    overflow: hidden; }
  .imageseries .imageseries-image,
  .imageseries .imageseries-canvas {
    display: block; }
  .imageseries .imageseries-image {
    min-width: 100%;
    height: auto;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .imageseries.has-description .imageseries-image {
    opacity: 0.5; }
  .imageseries .imageseries-itemtitle,
  .imageseries .imageseries-itemlink {
    padding-top: 1em;
    line-height: 1em;
    font-size: 15px;
    margin: 0;
    color: #333333; }
  .imageseries .imageseries-itemtitle {
    float: left; }
  .imageseries .imageseries-itemlink {
    float: right;
    text-decoration: none;
    border-bottom: 1px solid #333333; }
  .imageseries .imageseries-itemlink:active {
    color: #26689b;
    border-color: #26689b; }
  .imageseries .imageseries-description {
    display: block;
    width: 454px;
    overflow: auto;
    font-size: 15px;
    line-height: 1.2em;
    padding: 15px;
    background: white;
    position: absolute;
    top: 30px;
    left: 20%;
    margin-left: -242px;
    opacity: 0;
    -o-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0s ease-out 0.5s;
    -ms-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0s ease-out 0.5s;
    -moz-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0s ease-out 0.5s;
    -webkit-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0s ease-out 0.5s;
    transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0s ease-out 0.5s; }
  .imageseries .imageseries-description.is-active {
    opacity: 1;
    left: 50%;
    -o-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .imageseries .imageseries-description-author,
  .imageseries .imageseries-description-title {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em; }
  .imageseries .imageseries-description-author {
    font-weight: bold; }
  .imageseries .imageseries-description p {
    margin-top: 1.2em; }
  .imageseries .imageseries-description-close,
  .imageseries .imageseries-description-authorlink {
    display: block;
    color: #333333;
    font-family: arnhemlf, Georgia, Times, serif;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px; }
  .imageseries .imageseries-description-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url(../media/images/ui/imageseries/icon-close.png) center center no-repeat;
    background-size: 10px 10px; }

/**
* Article element
* 
* Article
*
* @section    Module
* @author     ldeleuran
*/
.article {
  overflow: hidden;
  margin-bottom: 40px; }
  .article .article-front {
    position: relative;
    height: 540px;
    background: black;
    color: white; }
    .article .article-front img {
      max-width: none;
      width: 100%;
      height: auto; }
    .article .article-front .article-title {
      position: absolute;
      left: 10.7421875%;
      right: 10.7421875%;
      top: 150px; }
    .article .article-front .article-title-alpha {
      font-size: 3.8888888889em;
      font-weight: bold;
      border-bottom: 0.06em solid white;
      line-height: 0.9em;
      margin-bottom: 0.1em;
      font-family: theinhardt, Helvetica Neue, Helvetica, Arial, sans-serif; }
    .article .article-front .article-title-beta {
      font-size: 1.8333333333em;
      line-height: 1.1818181818em;
      font-family: theinhardt_light, theinhardt, Helvetica Neue, Helvetica, Arial, sans-serif; }
    .article .article-front .article-title-beta ol,
    .article .article-front .article-title-beta ul,
    .article .article-front .article-title-beta li {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
    .article .article-front .article-title-beta li:before {
      content: "·";
      display: block;
      width: 0.5em;
      margin-left: -0.5em;
      float: left; }
  .article .article-content .article-intro {
    font-size: 1.6666666667em;
    line-height: 1.2em;
    font-family: arnhemlf, Georgia, Times, serif;
    font-weight: bold; }
  .article .article-content .article-subheader {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em; }
  .article .article-content .article-figure {
    margin: 0 0 1.2285714286em;
    -o-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
  .article .article-content .article-figure.is-hidden {
    opacity: 0; }
  .article .article-content .article-figure img,
  .article .article-content .article-figure video {
    width: 100%;
    height: auto;
    display: block; }
  .article .article-content p,
  .article .article-content blockquote,
  .article .article-content ul {
    margin: 0 0 1.2285714286em;
    padding: 0; }
  .article .article-content blockquote {
    margin: 0 20px 1.2285714286em; }

/* Include themes */
/**
 * Editorial themes - normally added on a high-level element like .page og body.
 * 
 * Editorial
 *
 * @section    Theme
 * @author     ldeleuran
*/
.theme-quantifiedself,
.theme-quantifiedself .page,
.theme-quantifiedself .article .article-front {
  background: black;
  color: white; }
.theme-quantifiedself .page-type,
.theme-quantifiedself .page-title,
.theme-quantifiedself .article-title-alpha,
.theme-quantifiedself .article-subheader,
.theme-quantifiedself .article-intro {
  color: #65d9e6; }
.theme-quantifiedself .article .article-title-alpha {
  border-color: #65d9e6;
  width: 320px;
  height: 67px;
  border: none;
  background: url(../media/images/content/articles/placeholder-title.png);
  background-size: 320px auto;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap; }
.theme-quantifiedself .article-intro em {
  color: white;
  font-style: normal; }

.theme-artificiallove .article .article-front {
  background: white; }
.theme-artificiallove .article-front .grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
.theme-artificiallove .grid-col {
  position: relative; }
.theme-artificiallove .grid .artificiallove-video {
  position: absolute;
  left: -24px;
  right: 0;
  -o-transition: top 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: top 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: top 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: top 0.75s cubic-bezier(0.77, 0, 0.175, 1);
  transition: top 0.75s cubic-bezier(0.77, 0, 0.175, 1); }
.theme-artificiallove .grid .artificiallove-video.is-second {
  position: absolute;
  left: 6.8493150685%;
  right: -24px; }
.theme-artificiallove .article-front {
  height: auto; }
.theme-artificiallove .article .article-title {
  z-index: 10;
  color: black;
  text-align: center;
  margin: 10px 20% 0;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: 40; }
.theme-artificiallove .article .article-title-alpha {
  font-weight: normal;
  border: none;
  color: #f10018;
  font-size: 5em;
  line-height: 1.1em;
  font-style: italic;
  letter-spacing: 0.03em;
  font-family: arnhemlf, Georgia, Times, serif; }
.theme-artificiallove .article .article-title-alpha em {
  font-style: normal;
  color: black;
  text-transform: uppercase; }
.theme-artificiallove .article .article-title-beta {
  font-family: arnhemlf, Georgia, Times, serif;
  font-weight: bold; }
.theme-artificiallove .article .article-title-beta em {
  font-style: normal;
  color: #f10018; }
.theme-artificiallove .article .article-subheader {
  font-style: italic;
  color: #f10018; }

.theme-imaginetheregistration,
.theme-imaginetheregistration .page,
.theme-imaginetheregistration .article .article-front {
  background: black;
  color: white; }
.theme-imaginetheregistration .article .article-title {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap; }
.theme-imaginetheregistration .article .article-title-alpha {
  border: none; }
.theme-imaginetheregistration .article .article-front {
  background: black url(../media/images/content/articles/imaginetheregistration-title.png) center top no-repeat;
  background-size: contain; }
.theme-imaginetheregistration .article-subheader {
  color: #3ce29c; }
.theme-imaginetheregistration .imaginetheregistration-illustration {
  position: relative; }
.theme-imaginetheregistration .imaginetheregistration-illustration img.is-fixed {
  position: fixed; }

.theme-whattocounton .article .article-intro em,
.theme-whattocounton .article a,
.theme-whattocounton .article .article-subheader {
  color: #ff5d00; }
.theme-whattocounton .article .article-intro em {
  font-style: normal;
  color: #ff5d00; }
.theme-whattocounton .article .article-title {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap; }
.theme-whattocounton .article .article-title-alpha {
  border: none; }
.theme-whattocounton .article .article-front {
  background: transparent url(../media/images/content/articles/whattocounton-title.png) center top no-repeat;
  background-size: contain; }
.theme-whattocounton .article .whattocounton-figure,
.theme-whattocounton .article .whattocounton-quote {
  display: block;
  padding: 0;
  margin: 40px 0; }
.theme-whattocounton .article .whattocounton-quote {
  display: none;
  padding: 24px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-style: italic;
  font-family: arnhemlf, Georgia, Times, serif;
  color: #ff5d00;
  text-align: center;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3); }
.theme-whattocounton .article .whattocounton-quote cite {
  display: block;
  font-size: 0.75em;
  color: black;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0.75em; }
